.advantages-about-bg {
  background: url(../img/leftrectangle-small.png) 13% -9% no-repeat, url(../img/leftrectangle-big.png) 0% 194% no-repeat, url(../img/rightrectangle-big.png) 54% 23% no-repeat;
  background-size: auto, auto, auto, auto
}

@media (max-width:1023px) {
  .advantages-about-bg {
      background: url(../img/rightrectangle-big.png) -99% 16% no-repeat;
      background-size: auto
  }
}
