.mainscreen-bg {
  padding-top: 33px;
  background: url(../img/header_background.png) center top no-repeat, url(../img/two_rectangles.png) center top no-repeat;
  background-size: cover, auto;
  background-color: #1b2d37
}

@media (max-width:1023px) {
  .mainscreen-bg {
      padding-top: 19px;
      background: url(../img/header_background.png) center top no-repeat, url(../img/two_rectangles.png) center -130px no-repeat;
      background-size: auto, cover;
      background-color: #1b2d37
  }
}

@media (max-width:767px) {
  .mainscreen-bg {
      background: url(../img/header_background.png) center top no-repeat, url(../img/two_rectangles.png) 57% 83% no-repeat;
      background-size: cover, auto;
      background-color: #1b2d37
  }
}