$font-mono: "PT Mono", "Arial", sans-serif;
$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$blue: #00B2FF;
$dark-blue: #1B2D37;
$light-blue:#00BFFF;
$white: #FFFFFF;
$black: #000000;
$darkbg: #1b2d37;
$gray: #788891;
$light-gray: #666666;
$gray-border: #EBEBEB;
$bluegreen: #203C42;
