

.form-wrapper {
  padding-bottom: 62px;
  background: url(../img/tworectanglesform.png) 15% 52% no-repeat, url(../img/leftrectangleform-small.png) 95% 17% no-repeat, url(../img/rightrectangleform-big.png) right 60% no-repeat;
  background-size: auto, auto, auto, auto;
  background-color: #00b2ff
}

.contact-container {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0;
  min-width: 970px;
  width: 63.54%;
  max-width: 1500px
}

.contact-container::before {
  content: "";
  position: absolute;
  width: 511px;
  height: 288px;
  top: 156px;
  left: 0;
  background-image: url(../img/plane.png);
  background-position: center top;
  background-repeat: no-repeat
}

.contact-form input {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  border: 0;
  color: #fff;
  background-color: #00bfff;
  margin-bottom: -10px;
  padding-left: 16px;
  width: 270px;
  height: 52px;
  border-radius: 0
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #fff
}

.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
  color: #fff
}

.contact-form input:-ms-input-placeholder,
.contact-form input::-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
  color: #fff
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #fff
}

.contact-form input:focus {
  border: 1px solid #788891;
  color: #788891;
  outline: 0
}

.contact-form input:hover {
  border: 1px #fff solid
}

.contact-form textarea {
  font-family: "PT Mono", "Arial", sans-serif;
  border: 0;
  resize: none;
  color: #fff;
  background-color: #00bfff;
  margin-bottom: -13px;
  padding-left: 16px;
  padding-top: 13px;
  width: 100%;
  height: 154px;
  border-radius: 0
}

.contact-form textarea:focus {
  border: 1px solid #788891;
  outline: 0
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 570px
}

.contact-form label[for=data] {
  font-family: "PT Mono", "Arial", sans-serif;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  padding-left: 32px;
  padding-top: 8px;
  width: 262px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  opacity: .8;
  cursor: pointer
}

.contact-form label[for=data]:hover {
  opacity: .5
}

.contact-form label[for=data]::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  background: 0 0
}

.contact-form input[id=data] {
  right: 149px;
  bottom: 30px
}

.contact-form input[id=data]:checked+label[for=data]::before,
.popup-contact input[id=pop-data]:checked+label[for=pop-data]::before {
  background: url(../img/check.png) center center no-repeat
}

.contact-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
  margin-left: auto;
  margin-bottom: 49px;
  width: 688px;
  z-index: 1;
  padding-top: 92px
}

.contact-wraper>h2 {
  line-height: 42px;  
  margin-bottom: 15px;
  font-weight: 300;
  padding-right: 5%;
}

.contact-wraper>p {
  padding-right: 37%
}

.contact-submit,
.contact-wraper h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

.contact-wraper h2 {
  margin-top: -3px;
  margin-bottom: 11px;
  font-size: 36px;
  line-height: 51px;  
}

.contact-wraper p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 49px
}

.contact-submit {
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px
}

.contact-submit:hover {
  background-color: #fff;
  color: #00b2ff
}

.contact-input:hover {
  border: 1px solid #788891
}

.error.contact-text::-webkit-input-placeholder {
  color: #081f42
}

.error.contact-text::-moz-placeholder {
  color: #081f42
}

.error.contact-text:-ms-input-placeholder,
.error.contact-text::-ms-input-placeholder {
  color: #081f42
}

.error.contact-text::placeholder {
  color: #081f42
}

.contact-text {
  color: #757575;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding-left: 12px;
  padding-top: 10px;
  width: 760px
}

.error-pulse {
  -webkit-animation: pulse 1.7s;
  animation: pulse 1.7s
}

.contact-input {
  width: 360px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  padding-left: 13px;
  padding-bottom: 13px;
  border: 2px solid #d7dcde;
  border-radius: 3px
}

.contact-input:focus {
  border-color: #000;
  color: #000;
  outline: 0
}

.contact-input:hover {
  border-color: #b4b9bb
}

.pulse {
  color: #fff;
  -webkit-animation: pulsate 1.5s linear;
  animation: pulsate 1.5s linear
}

@media (max-width:1721px) {
  .contact-container::before {
      top: 171px
  }
}

@media (max-width:1023px) {
  .contact-container {
      min-width: 591px;
      width: 76.95%;
      max-width: 750px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
  }
  .contact-container:before {
      display: none
  }
  .contact-wraper {
      padding-top: 83px;
      width: 600px;
      margin: 0
  }
  .contact-wraper>h2 {
      padding-right: 13%
  }
  .contact-wraper>p {
      padding-right: 42%
  }
}

@media (max-width:771px) {
  .form-wrapper {
      padding-bottom: 104px
  }
  .contact-wraper>h2,
  .contact-wraper>p {
      padding-right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%
  }
  .contact-wraper>h2 {      
      font-size: 32px;
      margin-top: -6px
  }
  .contact-wraper>p {
      margin: 3px 0 54px 4px
  }
  .contact-form {
      width: 590px
  }
  .contact-wraper p {
      margin-bottom: 54px
  }
  .contact-submit {
      width: 281px
  }
  .contact-form label[for=data] {
      padding-left: 26px;
      padding-top: 8px
  }
  .contact-form label[for=data]::before,
  .popup-contact label[for=pop-data]::before {
      left: -7px;
      top: 10px
  }
}

@media (max-width:763px) {
  .form-wrapper {
      padding-bottom: 42px
  }
  .contact-wraper>h2 {      
      font-size: 28px;
      margin-top: -5px;
      line-height: 40px
  }
  .contact-wraper p {
      margin-bottom: 39px
  }
  .contact-wraper>p {
      margin: -2px 54px 26px 2px
  }
  .contact-form input,
  .contact-form textarea {
      width: 290px
  }
  .contact-submit {
      width: 292px;
      margin-bottom: 23px
  }
  .contact-form label[for=data] {
      padding-left: 36px
  }
  .contact-form label[for=data]::before {
      left: 3px;
      top: 9px
  }
}

@media (max-width:336px) {
  .contact-wraper {
      width: 305px
  }
}

@media (max-width:767px) {
  .form-wrapper {
      min-width: 290px;
      padding-bottom: 41px
  }
  .contact-container {
      min-width: 290px;
      width: 90.64%;
      max-width: 550px
  }
  .contact-container:before {
      display: none
  }
  .contact-wraper {
      padding-top: 33px;
      margin: 0;
      width: 320px
  }
  .contact-wraper h2 {
      font-size: 28px;
      line-height: 39px;
      font-weight: 400
  }
  .contact-wraper p {
      width: 269px;
      margin-bottom: 40px
  }
  .contact-form textarea {
      height: 104px
  }
  .contact-submit {
      margin-bottom: 30px
  }
}

@media (max-width:322px) {

	.contact-form {
    	width: 293px;
	}

	.contact-wraper>h2 {
    font-family: 'Roboto Condensed', sans-serif;
		margin-top: -2px;
		margin-left: 7px;		
	}

	.contact-wraper>p {
		margin: 2px 27px 26px 2px;
	}

	.contact-wraper p {
		
	}

	.contact-submit {
		margin-bottom: 23px;
	}
}