.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: 45px;
  background-color: transparent;
}

.form-bg {
  background-color: #00B2FF;
  padding-bottom: 100px;
  background: url("../img/tworectanglesform.png") 6% 26% no-repeat, url("../img/leftrectangleform-small.png") 95% 17% no-repeat, url("../img/rightrectangleform-big.png") right 60% no-repeat;
  background-size: auto, auto, auto, auto;
  background-color: #00B2FF;
  margin-bottom: 65px;
}

.form {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 91px;
  width: 1400px;
}
.form::before {
  content: "";
  position: absolute;
  top: 161px;
  left: 0;
  width: 511px;
  height: 288px;
  background-image: url("../img/plane.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: 27px;
  margin-bottom: 90px;
  width: 700px;
  z-index: 1;
}

.form__header {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
}

.form-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 570px;
}

.form-container p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 49px;
}

.form-contact input {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  border: none;
  color: #FFFFFF;
  background-color: #00BFFF;
  margin-bottom: 40px;
  padding-left: 16px;
  width: 270px;
  height: 52px;
  border-radius: 0;


  &:focus {
    border: 1px solid $gray;
    outline: none;
  }

  &::placeholder {
    color: $white;
  }
}


.form-contact textarea {
  font-family: "PT Mono", "Arial", sans-serif;
  border: none;
  resize: none;
  color: #FFFFFF;
  background-color: #00BFFF;
  margin-bottom: 43px;
  padding-left: 16px;
  padding-top: 13px;
  width: 100%;
  height: 154px;
  border-radius: 0;

  &:focus {
    border: 1px solid $gray;
    outline: none;
  }

  &::placeholder {
    color: $white;
  }
}

.form__submit {
  width: 270px;

  &:hover {
  background-color: #FFFFFF;
  color: #00B2FF;
 }
}


.form-contact input[id="data"] {
  right: 253px;
  bottom: 30px;
}

.form-contact label[for="data"] {
  font-family: "PT Mono", "Arial", sans-serif;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  /* padding-left: 22px; */
  padding-top: 8px;
  /* width: 262px; */
  
  order: 1;
  opacity: 0.8;
  cursor: pointer;
}

/* .form-contact label[for="data"]::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #FFFFFF;
  background: none;
} */
.form-contact label[for="data"]:hover {
  opacity: .2;
}

.form-contact input[id="data"]:checked + label[for="data"]::before {
  background: url("../img/check.png") center center no-repeat;
}

.form-personal {
  position: relative;
}

.form-submit, .form-personal{
  display: inline-block;
  width: 250px;
}

@media (max-width: 768px) {
  .form {
    width: 590px;
    padding-top: 83px;
  }

  .form::before {
    display: none;
  }

  .form-contact {
    width: 590px;
  }

  .form-container {
    margin: 0 auto;
  }

  .form__header {
    font-size: 32px;
    line-height: 45px;
  }

  .form-bg {
    background-image: none;
  }
}
@media (max-width: 320px) {
  .form-bg {
    padding-bottom: 41px;
  }

  .form {
    width: 320px;
    padding-top: 33px;
  }

  .form__header {
    font-size: 28px;
    line-height: 39px;
    width: 263px;
  }

  .form-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .form__submit {
    margin-bottom: 30px;
  }

  .form-contact textarea {
    margin-bottom: 30px;
  }

  .form-container p {
    width: 256px;
  }

  .form-contact {
    width: 290px;
    margin: 0 auto;
  }
}

input[type=checkbox], input[type=radio] {opacity: 0;} 

 input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid white;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: white;
}

input[type=checkbox]{
  width: 0px;
}

#data{
  margin: 0 auto;
  width: 1px;
  height: 16px;
  border: 1px solid #FFFFFF;
  background: none;
  position: absolute;
  top: 5px;
  left: 10px;
}

