@import url(http://allfont.ru/allfont.css?fonts=roboto-condensed);

.services {
  width: 100%;
  max-width: 1186px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 87px;
  padding-bottom: 98px
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.services-bg {
  background-color: #1b2d37
}

.services__header,
.services__title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  color: #fff
}

.services__title { 
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 52px 13px;
}

.services__header {
  font-size: 20px;
  line-height: 30px;
  width: 170px;
  margin: 0 0 0 43px;  
}

.services__item {
  position: relative;
  margin:0 1.2%;
  margin-bottom: 30px;
  min-width: 200px;
  width: 30.9%;
  min-height: 620px
}

.services__item::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  right: 0
}

.services__item:last-child {
  margin-right: 0!important
}

.services__item a {
  position: relative;
  display: block;
  padding-top: 50px;
  height: 100%
}

.services__item a:hover {
  background-color: #00b2ff;
  cursor: pointer
}

.services__item picture {
  position: static
}

.services__item img {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3
}

.services__link img {
  max-width: 370px
}

@media (max-width:1170px) {
  .services {
      width: 100%;
      max-width: 1400px
  }
}

@media (max-width:1023px) {
  .services {
      min-width: 720px;
      width: 93.75%;
      padding: 51px 0 32px;
  }
  .services__list {
      padding-left: 0;
  }
  .services__title {
      font-size: 32px;
      line-height: 45px;
      width: 629px;      
      margin: 0 0 48px;
  }
  .services__item {
      margin-right: 0;
      margin-bottom: 46px;
      padding-bottom: 0;
      width: 100%;
      min-height: 256px
  }
  .services__item a {
      padding-top: 270px;
      overflow: hidden
  }
  .services__item img {
      top: -50%;
      margin-top: -50%;
      height: auto
  }
  .services__link img {
      max-width: 1023px
  }
}

@media (max-width:771px) {
  .services__item a {
      padding-top: 0
  }
  .services__header {
      margin: 40px 0 0 35px
  }
}

@media (max-width:767px) {
  .services {
      min-width: 320px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 53px;
      padding-bottom: 40px
  }
  .services__title {
      font-size: 28px;
      line-height: 39px;
      width: 305px;
  }
  .services__item {
      width: 290px;
      height: 256px
  }
  .services__item:after {
      right: 0;
      bottom: 0;
  }
  .services__item img {
      top: 25%;
      margin-top: -50%;
      height: auto
  }
}

@media (max-width:763px) {
  .services {
      margin-left: 0;
      padding: 51px 16px 32px
  }
  .services__title {
      margin: 0 0 42px
  }
  .services__item {
      margin-bottom: 30px
  }
  .services__item:after {
      bottom: 0
  }
  .services__header {
      margin: 20px 0 0 35px
  }
}

@media (max-width:611px) {
  .services__title {
      margin: 0 auto 42px
  }
  .services__list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
  }
}

@media (max-width:336px) {
  .services__title {
      width: 280px
  }
}

@media (max-width:322px) {
  .services__title {
    margin: 0 9px 42px;  
  }
.services__header {
  margin: 20px 0 0 31px;
  letter-spacing: 0;
  width: 173px;
}
}
