.services {
  width: 1170px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 87px;
  padding-bottom: 98px;
}

.services__list {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-bg {
  background-color: $dark-blue;
}

.services__title {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin: 0;
  margin-bottom: 54px;
}

.services__header {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  margin: 0;
  width: 170px;
  margin-left: 44px;
}



.services__item {
  position: relative;
  margin-bottom: 30px;
  margin-right: 2.43%;
  margin-bottom: 30px;
  min-width: 200px;
  width: 30.83%;
  min-height: 620px;

  &::after {
    position: absolute;
    content: "";
    right: -8px;
    bottom: 0;
    width: 63px;
    height: 63px;
    background-color: $blue;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.services__item a {
  position: relative;
  display: block;
  padding-top: 50px;
  height: 100%;

  &:hover {
    background-color: $blue;
    cursor: pointer;
  }
}

.services__item picture {
  position: static;
}


.services__item img {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

@media (max-width: $tablet) {

  .services {   
    padding-top: 23px;
    min-width: 720px;
    width: 93.75%;
  }  

  .services__list {
    padding-left: 0;
  }


  .services__title {
    font-size: 32px;
    line-height: 45px;
    margin-left: 0;
    width: 615px;  
  }

  .services__item {
    margin-right: 0;
    margin-bottom: 46px;
    padding-bottom: 0;
    width: 100%;
    min-height: 256px;
 }

 .services__item a {
  padding-top: 270px;
  overflow: hidden;
 }

 .services__item img {
  top: -50%;
  margin-top: -50%;
  height: auto;
}

}

@media (max-width: $mobile) {

  .services {
    min-width: 320px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 53px;
    padding-bottom: 40px;
  }

  .services__title {
    font-size: 28px;
    line-height: 39px;
    width: 320px;
  }

  .services__item {
    width: 290px;
    height: 256px;

    &:after {
      right: 0px;
      bottom: -14px;
    }
  }

  .services__item img {
    top: 25%;
    margin-top: -50%;
    height: auto;
  }

  
}
