
.header{
display: flex;
}

.header__wrapper {
width: 1200px;
margin: 0 auto;
}
   .header__logo {
    display: block;
    height: 52px;
    align-self: center;
    margin-top: 0;
  }



.header__name {
  display: flex;
  flex-direction: column;

}


.header-contacts {
  display: flex;
}


