
.header {
  display: flex;
  min-width: 1000px;
  margin: 0 auto;
  max-width: 1500px;
  padding-top: 50px;
  margin-bottom: 180px;
}

.header__logo {
  display: flex;
  min-width: 52px;
}

.header__img {
  margin-right: 16px;
}

.header__name {
  display: flex;
  flex-direction: column;
}

.header__text {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $white;
}

.header__slogan {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
}


.header__contacts {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  min-width: 650px;
  align-items: baseline;
}

.header__email {
  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  color: $white;

  &:before {
    content: "";
    position: absolute;
    top: 2px;
    right: 100px;
    width: 19px;
    height: 14px;
    background-image: url('../img/envelope.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.header__phone {
  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  color: $white;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 155px;
    width: 18px;
    height: 18px;
    background-image: url('../img/phone.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.header__button {
  margin-top: 4px;
  margin-left: 40px;
  margin-bottom: 6px;
  width: 180px;
}
