.promo {
  display: flex;  
  margin: 0 auto;
  position: relative;
  margin-bottom: 109px;   
  width: 81.56%;
  max-width: 1470px;

  &::after {
    position: absolute;
    content: "";
    right: -56px;
    top: -13px;
    width: 705px;
    height: 515px;
    background-image: url('../img/eboards.png');
    background-color: transparent;
  }
}

.promo__text {
  display: flex;
  flex-direction: column;
  position: relative;  
  z-index: 1;
  margin-left: 2.2%;
  margin-bottom: 90px;
  padding-top: 46px;
}

.promo__header {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
  margin: 0;
  margin-bottom: 28px;
  width: 718px;
}

.promo__slogan {
  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  padding-left: 96px;
  margin: 0;
  width: 718px;
  margin-bottom: 44px;

  &::before {
    position: absolute;
    content: "";
    bottom: 64%;
    left: 3px;
    width: 66px;
    height: 2px;
    background-color: $white;
  }
}

.promo__btn {
  display: inline-block;
  background-color: $blue;
  font-size: 16px;
  line-height: 19px;
  border: none;
  font-weight: bold;
  padding-left: 20px;
  margin-left: 96px;
  margin-bottom: 95px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 17px;
  padding-bottom: 17px;
  
  &:hover {
    background-color: $gray;
  }
}

.promo__btn-mobile {
  display: none;
}

/*скролл */

.promo__scroll {
  position: relative;
  bottom: 0;
  right: -3px;
  z-index: 9999;
  font-family: $font-mono;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  writing-mode: tb-rl;
  color: $gray;
  margin-left: 2px;
  width: 25px;
  opacity: 0.5;
  transform: rotate(180deg);
  /* display: none; */
}

.promo__scroll:hover {
  text-decoration: none;
  color: $blue;
  cursor: pointer;
}

.promo__scroll-show {
  display: block;
}

.promo__scroll-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}


@media (max-width: $tablet) {

  .promo {
    margin-bottom: 50px;   
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    &::after {
      left: 523px;
      top: 0;
      width: 465px;
      height: 340px; 
      background-size: 100% auto;    
    }
  }

  .promo__header {
    font-size: 60px;
    line-height: 70px;
    width: 100px;
    padding-left: 87px;
  }

  .promo__slogan {
    font-size: 18px;
    line-height: 28px;
    margin-left: 139px;
    width: 356px;
    padding-left: 0;
    margin-bottom: 60px;
  }

  .promo__slogan::before {
    bottom: 48%;
    width: 33px;
    left: 91px;
  }

  .promo__scroll {
    display: none;
  }

  .promo__btn-mobile {
    display: none;
  }

  .promo__text {
    margin-left: 0;
    padding-top: 62px;
  }

  .promo__btn {
    width: 379px;
    margin-left: 139px;
  }
}

@media (max-width: $mobile) {

  .promo {
    margin: 0 auto;
    flex-direction: column-reverse;
    padding-top: 34px;
    min-width: 320px;
    width: 100%;
    max-width: 400px;

    &::after {
      left: 27px;
      top: -160px;
      width: 301px;
      height: 220px;
    }
  }
  
  .promo__header {
    font-size: 40px;
    line-height: 47px;
    width: 100px;
    padding-left: 20px;
  }

  .promo__slogan {
    font-size: 16px;
    line-height: 25px;
    padding-left: 76px;
    width: 271px;

    &:before {
      bottom: 74%;
      width: 33px;
      left: 20px;
    }
  }

  .promo__btn {
    width: 287px;
    margin: 0 auto;

    &:hover {
      background-color: $gray;
    }
  }

  .promo__btn-desktop {
    display: none;
  }

  .promo__btn-mobile {
    display: block;
    
    &:hover {
      background-color: $gray;
    }
  }
}
