.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  width: 64%;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 104px;
  background-color: #fff
}

.about::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 220px;
  height: 317px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url(../img/about2005.png)
}

.about__header,
.about__text {
  font-style: normal;
  font-weight: 400
}

.about__header {
  padding-bottom: 20px; 
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  margin: 0
}

.about__text {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 23px;
  width: 100%
}

.about__btn {
  color: #00b2ff;
  font-weight: 700;
  border: 1px solid #00b2ff;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  width: 180px;
  margin-top: 20px;
  margin-left: 4px;
}

.about__btn:hover {
  color: #fff
}

.about__wrapper {
  margin-left: 210px;
  width: 80%;
  color: #666
}

@media (max-width:1023px) {
  .about {
      min-width: 720px;
      width: 93.75%;
      margin-bottom: 82px
  }
  .about::before {
      background-size: contain;
      width: 100%;
      max-width: 270px;
      height: 359px;
      top: 4px;
      left: -42px
  }
  .about__wrapper {
      margin-left: 185px
  }
  .about__text {
      min-width: 532px;
      width: 73.9%;
      margin-left: 3px;
      margin-bottom: 20px
  }
  .about__header {
      font-size: 32px;
      line-height: 45px;
      margin-top: 4px;
      margin-bottom: 5px
  }
  .about__text-hidden {
      display: none
  }
  .about__button {
      margin-top: 21px;
      margin-left: 4px
  }
}

@media (max-width:763px) {
  .about {
      width: 100%;
      margin: 0;
      padding: 0 38px 64px
  }
  .about__wrapper {
      margin-left: 0
  }
}

@media (max-width:767px) {
  .about {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 65px;
      min-width: 320px
  }
  .about__wrapper {
      margin-left: 0
  }
  .about__text {
      min-width: 280px;
      width: 50.9%;
      overflow: hidden;
      text-overflow: ellipsis
  }
  .about::before,
  .about__text-hidden {
      display: none
  }
  .about__wrapper p:last-of-type {
      margin-top: 50px
  }
  .about__header {
      font-size: 28px;
      line-height: 39px
  }
}

@media (max-width:322px) {
  .about {
      padding: 0 15px 64px;
  margin-bottom: 0;
  }
  .about__header {
      margin-bottom: 0
  }
  .about__text {
      margin-bottom: -9px;
  width: 100%;
  }
  .about__btn {
      margin-top: 37px
  }

.about__wrapper {
    width: 100%;
}
}