.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 61px;
  width: 100%;
  height: 1px;
  background-color: $graylighter;
  opacity: 0.2;
}

.footer-top {
  margin-bottom: 45px;
}

.footer-social__logo {
  display: flex;
  min-width: 52px;
  margin-bottom: 54px;
}

.footer-social__item {
  margin-right: 16px;
}

.footer-name {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.footer-name__text {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $bluegreen;
}

.footer-name__slogan {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
}

.footer-social__icons {
  display: flex;
}

.footer-menu__header,
.footer-address__header {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark-blue;
  margin: 0 auto;
  margin-bottom: 29px;
}

.footer-menu__blocks,
.footer-address__blocks {
  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1B2D37;
  opacity: 0.5;
}

.footer-menu__blocks {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.footer-copyright {
  margin-bottom: 16px;
}

.footer-copyright ul {
  display: flex;
  justify-content: space-between;
  width: 1004px;
}

.footer-copyright__item,
.footer__year {
  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-blue;
  opacity: 0.5;
}

.footer__year {
  display: none;
}

@media (max-width: $tablet) {

  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 760px;
  }

  .footer-menu__blocks {
    display: flex;
    flex-direction: row;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer__year {
    display: block;
  }

  .footer-copyright__item--year {
    display: none;
  }

  .footer-copyright ul {
    width: 700px;
  }
}

@media (max-width: $mobile) {
  .footer-social {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
  }

  .footer-social__logo {
    margin-bottom: 27px;

  }

  .footer__year {
    margin: 0 auto;
    margin-bottom: 32px;
  }

  /*Стили для аккордеона js*/

  .toggle-section__toggle {
    background-color: #CFD8DC;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 320px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
}

.active, .toggle-section__toggle:hover {
    background-color: #607D8B;
}

.toggle-section__toggle:after {
    content: '\002B';
    color: #fff;
	font-size: 18px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.toggle-section__text {
    padding: 0 18px;
	color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}


}

