.footer,
.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 1004px;
    max-width: 1500px;
    margin: 0 auto;
    width: 75%;
    padding-left: 15px
}

.footer {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fafafa;
    padding-top: 65px
}

.footer::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 54px;
    width: 100%;
    height: 1px;
    background-color: #626962;
    opacity: .2
}

.footer-top {
    margin-bottom: 72px
}

.footer-social {
    width: 29%
}

.footer-social__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 52px;
    margin-bottom: 54px;
    cursor: pointer
}

.footer-social__item {
    margin-right: 0
}

.footer-social__item svg {
    margin-right: 16px
}

.testhover:hover {
    fill: green
}

.footer-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 16px;
    margin-top: 9px
}

.footer-name__slogan,
.footer-name__text {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #203c42
}

.footer-name__slogan {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #788891
}

.footer-social__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer-menu {
    width: 45%
}

.footer-address {
    width: 24%;
    padding-left: 5px
}

.footer-address__header,
.footer-menu__header {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1b2d37;
    margin: 0 auto 29px;
    letter-spacing: -.05em;
    font-weight: 300
}

.footer-address__blocks,
.footer-menu__blocks {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
    opacity: .5
}

.footer-copyright ul,
.footer-menu__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 425px;
}

.footer-copyright {
    margin-bottom: 16px
}

.footer-copyright ul {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto
}

.footer-copyright__item {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #1b2d37;
    opacity: .5;
    text-align: center;
}

.footer-copyright__item--reserved {
    margin-right: 3%;
    min-width: 160px;
    width: 12.86%
}

.footer-copyright__item--year {
    width: 26.56%
}

.footer-copyright__item--nda {
    width: 23.98%
}

.footer-copyright__item--developed:hover,
.footer-copyright__item--nda:hover {
    opacity: 1
}

.footer-copyright__item--developed {
    margin-left: auto;
    min-width: 192px
}

.footer__year {
    display: none
}

.footer-address__item a:hover,
.footer-copyright__item--link a:hover,
.footer-menu__item a:hover {
    color: #00b2ff
}

.footer-social__item:hover {
    opacity: .5
}

@media (max-width:1023px) {
    .footer-social {
        width: 100%
    }
    .footer-menu__blocks,
    .footer-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .footer-menu__blocks,
    .footer-social {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .footer__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        min-width: 718px
    }
    .footer__year {
        display: block
    }
    .footer-copyright__item--year {
        display: none
    }
    .footer-copyright__item--nda {
        width: 40%
    }
    .footer-copyright__item--reserved {
        display: none
    }
    .footer-copyright__item--developed {
        margin-left: auto
    }
}

@media (max-width:767px) {
    .footer {
        padding-top: 52px
    }
    .footer__wrapper {
        min-width: 320px
    }
    .footer-menu {
        width: 78%
    }
    .footer-menu__header {
        margin-top: 8px;
        margin-bottom: 8px
    }
    .footer-top {
        margin-bottom: 23px
    }
    .footer-copyright ul,
    .footer-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .footer-social__logo {
        margin-bottom: 27px
    }
    .footer__year {
        font-family: "PT Mono", "Arial", sans-serif;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: .04em;
        margin: 0 auto 32px;
        color: #1b2d37;
        text-transform: uppercase
    }
    .footer-copyright {
        min-width: 320px
    }
    .footer-copyright__item--nda {
        width: 68%
    }
    .footer-copyright__item--developed {
        margin: 0 auto
    }
    .footer-copyright__item {
        margin-top: 10px
    }
    .footer::after {
        bottom: 100px
    }
    .footer-social__icons {
        margin-bottom: 55px
    }
    .footer-address_list {
        width: 240px
    }
    .footer-address__header {
        margin-top: 10px
    }
    .footer-address__header:hover {
        color: #00b2ff
    }
}

@media (max-width:771px) {
    .footer {
        padding-top: 17px
    }
    .footer-top {
        margin-bottom: 50px
    }
    .footer__wrapper {
        width: 100%;
        padding: 0 25px
    }
    .footer__year {
        display: block;
        margin-top: 22px;
        font-size: 14px;
        margin-left: 28px;
        letter-spacing: .4px;
        text-transform: uppercase
    }
    .footer-social {
        padding-bottom: 13px
    }
    .footer-social__icons {
        margin: 13px -18px 0 0
    }
    .footer-menu {
        width: 50%
    }
    .footer-address {
        width: 48.5%
    }
    .footer-address__header,
    .footer-menu__header {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -.07em
    }
    .footer-address__blocks,
    .footer-menu__blocks {
        margin-top: -5px
    }
    .footer-menu__blocks.toggle-text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .footer-copyright {
        margin-bottom: 9px
    }
    .footer-copyright__list {
        margin-top: 8px
    }
}

@media (max-width:763px) {
    .footer {
        padding-top: 44px
    }
    .footer-social {
        padding-bottom: 49px
    }
    .footer-social__logo {
        margin: 0 0 5px -24px
    }
    .footer__year {
        font-size: 13px!important;
        display: grid!important;
        width: 100%;
        text-align: center;
        margin: 22px 0 20px
    }
    .footer-social__icons {
        margin: 13px -6px 0 0
    }
    .footer-address,
    .footer-menu {
        width: 100%
    }
    .footer-address {
        padding-left: 0
    }
    .toggle {
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (max-width:322px) {
    .footer-social__logo {
        margin: 3px 0 5px -12px
    }
    .footer-name {
        margin-top: 7px
    }
    .footer-social__icons {
        margin: 10px -17px 0 0
    }
    .toggle-section {
        padding: 23px 16px 16px
    }
    .footer-address__header,
    .footer-menu__header {
        font-size: 15px;
        letter-spacing: -.04em
    }
    .toggle-text {
        padding: 0 15px;
        margin-top: -13px
    }
    .footer-copyright__item--nda {
        width: 100%;
        text-align: center
    }

	.footer-menu__header {
    	margin-top: 14px;
	}

	.footer-address__header {
		margin-top: 15px;
	}
}